body{
  background-color: tomato;
}
img{
  width: 50%
}
.content{
  background-color:blue;
}
.des{
  border: 1px solid black;
  border-radius: 5px;
  background-color: yellowgreen;
  width:100%;
  text-align: center;
  margin:5px auto;
}
.gohome{
  background:black;
}