

body{
  margin:0;
  padding:0;
  box-sizing: border-box;
  background-color:#FFF1BE ;
  
}
input,select{
  border:1px solid black;
  border-radius: 5px;
  width:50%;
  font-size:1rem;
  font-weight: bolder;
}
img{
  width:100%;
  border:2px solid white;
  transition: transform 0.25s ease;
}
img:hover{
transform:scale(1.1);
position:relative;
z-index: 1;
cursor:pointer;
}
.episode-holder{
  display: flex;
  opacity:0.90;
  transition: transform 0.25s ease;
}
.episode-holder:hover{
  transform:scale(1.1);
  opacity:1;
  position:relative;
  z-index: 1;
  cursor:grab;

}

  .search-bar{
   margin-top: 10px;
  }

.search-box{
    display:flex;
    background-color: thistle;
    
}
.search-input{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}


.episode{
  border: 1px solid black;
  border-radius: 5px;
  background-color: #26191b;
  text-align: center;
  margin-top:3px;
}
 .episode-summary{
  color:white;
}
.episode-title{
  background-color:wheat;
  color:black;
  width:100%;
  padding:5px;
  text-align: center;
  margin:3px auto;
}
